:root {
  --size-text: 1rem;
  --size-title: 2.5rem;
  --size-subtitle: 1.5rem;
  --size-numbers: 2rem;

  --color-primary: #fafaf7;
  --color-secondary: #ff8053;
  --color-accent: #5c788d;
  --color-dark: #3e3a57;
  --color-light: #9e9ea1;
  --color-black: #2a2a2c;

  --family-text: sans-serif;
  --family-title: sans-serif;
}

html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  text-decoration: inherit;
  text-transform: inherit;
  color: inherit;
  list-style: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
}

body {
  font-size: var(--size-text);
  color: var(--color-primary);
  list-style: none;
  font-family: var(--family-text);
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  line-height: 1.4;

  background-color: var(--color-primary);
}

main {
  min-height: 100vh;
}

/* Main CSS End */

/* General Classes Start */

.container-wide {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

/*Header start*/

.container-header {
  padding-bottom: 10rem;
  background-image: url(./images/bg-pattern-intro.svg),
    linear-gradient(90deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  background-repeat: no-repeat;
  background-size: 160%;
  background-position: left;
  border-radius: 0rem 0rem 0rem 5rem;
  overflow: hidden;
}

.nav-container {
  display: flex;
  align-items: center;
  padding: 4rem 4rem 0rem 0rem;
}

.logo {
  margin: 1rem 5rem;
}

.nav-menu {
  margin-right: auto;
}

.nav-item {
  font-size: var(--size-text);
  padding-right: 2rem;
}

.button {
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  border: solid var(--color-primary);
  border-radius: 2rem;
}

.slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}

.slogan-tittle {
  font-size: var(--size-title);
  text-align: center;
}

.slogan-subtittle {
  font-size: var(--size-text);
}

.slogan-buttons {
  padding-top: 5rem;
}

/*Header end*/

/*General content Desing start*/

.h1 {
  font-size: var(--size-title);
  color: var(--color-accent);
  text-align: center;
  margin-top: 10rem;
  padding: 3rem 1.5rem;
  font-weight: bold;
}

.designed-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}

.design-image {
  width: 50%;
  position: absolute;
  right: -14%;
}

.desktop-image {
  max-width: 100%;
  max-height: 100%;
}

.desing-content {
  width: 50%;
  min-width: 25rem;
  max-width: 100%;
  padding: 3rem 2rem;
}

.h3 {
  font-size: var(--size-subtitle);
  color: var(--color-accent);
  font-weight: bold;
  padding: 2rem 0rem 1.5rem 0rem;
}

.desing-paragraph {
  font-size: var(--size-text);
  color: var(--color-black);
}

/*General content Desing end*/

/*Phones Start*/

.phones-section {
  display: flex;
  align-items: center;
}

.container-purple {
  background-color: var(--color-dark);
  position: absolute;
  width: 100%;
  border-radius: 0rem 3rem 0rem 3rem;
  padding: 4rem 0rem 4rem 0rem;
  background-image: url(./images/bg-pattern-circles.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 50%;
}

.phones-text {
  padding: 2rem;
  position: relative;
  left: 50%;
}

.h2 {
  font-size: var(--size-subtitle);
  color: var(--color-primary);
  font-weight: bold;
  padding: 1rem 0rem 1rem 0rem;
}

.phones-paragraph {
  font-size: var(--size-text);
  color: var(--color-primary);
}

.phones-img-container {
  z-index: 1;
}

/*Phones end*/

/*General content start*/

.general-container {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 8rem 0rem 8rem 0rem;
}

.left-image {
  width: 50%;
  position: absolute;
  left: -14%;
}

.laptop-image {
  max-width: 100%;
  max-height: 100%;
}

.general-content {
  position: relative;
  width: 100%;
  min-width: 25rem;
  max-width: 100%;
  padding: 3rem 1.5rem;
  left: 50%;
}
/*Footer-start*/

.container-footer {
  padding: 2rem 0rem 2rem 0rem;
  border-radius: 0rem 5rem 0rem 0rem;
  background-color: var(--color-black);
}

.nav-footer {
  display: flex;
  justify-content: space-around;
  padding: 3rem;
}

.nav-list {
  font-size: var(--size-text);
  line-height: 2rem;
  margin-bottom: 1rem;
}

.nav-title-footer {
  padding-bottom: 1rem;
}

.nav-item-footer {
  color: var(--color-light);
}

/*Footer end*/

/*queries*/

@media only screen and (max-width: 1000px) {
  .h3 {
    font-size: 1.2rem;
  }

  body {
    text-align: center;
  }
}
@media only screen and (max-width: 800px) {
  .nav-footer {
    display: flex;
    flex-direction: column;
  }

  .design-image {
    position: static;
    width: 100%;
  }

  .left-image {
    position: static;
    width: 100%;
  }

  .general-content {
    position: static;
  }
}
